body {
    align-items: center;
    text-align: center;
    font-family: Copperplate;
    font-size: 35px;
    height: 100vh;
    margin: 0;
    color: rgb(123, 25, 63);
    }
.gradient-angle{
    background: linear-gradient(45deg, #c8e8fb, #908ef1, rgba(200, 114, 243, 0.533));
}
button {
    align-items: top;
    background-color:rgb(175, 100, 225);
    color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    font-size: 42px;
    font-family: Lucida Handwriting;
    }
.bordered{
    

}
