body {
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color: #ffacac;
    color: rgb(167, 0, 95);
    }
button {
    align-items: center;
    background-color:rgb(175, 100, 225);
    color: rgb(196, 255, 244);
    }
    